<div class="container">
    <div class="cols">
        <table class="table table-bordered">
            <thead>
                <tr class="table-info">
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Effect</th>
                    <th scope="col">Flavor Text</th>
                    <th scope="col">Pokemon With Ability</th>  
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-center align-middle">{{a.id}}</th>
                    <td style="padding: 20px" class="text-center align-middle">{{a.name | titlecase}}</td>
                    <td style="padding: 20px" class="text-center align-middle">{{a.detailedDesc}}</td>
                    <td style="padding: 20px" class="text-center align-middle">{{a.desc}}</td>
                    <td style="padding: 20px" class="text-center align-middle">
                        <div *ngFor="let p of a.pokemonWithAbility">
                            {{p | titlecase}},
                        </div>
                    </td>    
                </tr>
            </tbody>
        </table>
    </div>
</div>
