<h1>Search Ability here</h1>
<div class="container">
    <form [formGroup]="typeForm">
        <label for="name">Search Ability here: </label>
        <input type="text" name="name" formControlName="name">
        <button type="button" (click)="submit()">Find Ability</button>
    </form>
</div>
<div *ngIf="!a">
    <app-ability-list (abilityName)="searchAbilityByName($event)"></app-ability-list>
</div>
<div>
    <app-ability *ngIf="a" [a]="a"></app-ability>
</div>
<button type="button" (click)="backToList()">Back to List</button>