<div class="container">
  <div class="left" style="float: left" *ngIf="!token">
    <button type="button" class="btn btn-success" (click)="loginPopUp()">Login</button>
    <!-- <a routerLink="register-login" class="nav-link">Enter Credentials</a> -->
  </div>
  <div class="left" style="float: left" *ngIf="token">
    <button type="button" class="btn btn-danger" (click)="logOutPopUp()">Log Out</button>
  </div>
  <div class="right" style="float: right">
    <button class="btn btn-warning" (click)="donationPopUp()">
        Donate
    </button>
  </div>
</div>
<br>
<div class="container">
  <div class="col">
      <img src="assets/PokeSmartLogo.png" class="rounded mx-auto d-block" style="height: 100px">
  </div>

</div>
<div class="container">
  <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col">
        <ul class="nav nav-tabs">
          <li class="nav-item" role="presentation">
            <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true} ">Home</a>
          </li>
          <li class="nav-item" role="presentation">
            <a routerLink="/pokemon" 
            routerLinkActive="active" class="nav-link">Pokemon</a>
          </li>
          <li class="nav-item" role="presentation" >
            <a routerLink="type" class="nav-link" routerLinkActive="active">Type</a>
          </li>
          <li class="nav-item" role="presentation" >
            <a routerLink="/item" class="nav-link" routerLinkActive="active">Item</a>
          </li>
          <li class="nav-item" role="presentation" >
            <a routerLink="/move" class="nav-link" routerLinkActive="active">Moves</a>
          </li>
          <li class="nav-item" role="presentation" >
            <a routerLink="/ability" class="nav-link" routerLinkActive="active">Ability</a>
          </li>
          <li class="nav-item" role="presentation" >
            <a routerLink="/location-area" class="nav-link" routerLinkActive="active">Locations</a>
          </li>
          <li class="nav-item" role="presentation" >
            <a routerLink="/damage-simulator" class="nav-link" routerLinkActive="active">Damage Simulator</a>
          </li>
          <li class="nav-item" role="presentation" >
            <a routerLink="/forum" class="nav-link" routerLinkActive="active">Forum</a>
          </li>
          <li class="nav-item" role="presentation" >
            <a routerLink="/pay" class="nav-link" routerLinkActive="active">Shop</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-12 col-xm-12 col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<hr style="margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1)">
<div class="container">
  <div class="d-flex justify-content-center">
      <div class="row">
        <h4>Find Us At: 25 Heng Mui Keng Terrace, Institute of Systems Science, Singapore 119615</h4>
        <div #map style="width:100%;height:100px"></div>
    </div>
  </div>
  
</div>