<div class="container">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead *ngIf="posts.length > 0">
                <tr class="table-danger">
                    <th scope="col">#</th>
                    <th scope="col">Posted By:</th>
                    <th scope="col">Topic</th>
                    <th scope="col" style="width: 25%">Post</th>
                    <th scope="col">Picture</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of posts, let i = index">
                    <th scope="row" class="text-center align-middle">
                        <button class="btn btn-link" (click)="seeReplies(i)">
                        {{i + 1}}
                        </button>
                    </th>
                    <td *ngIf="p.id == null" class="text-center align-middle">you suck</td>
                    <td class="text-center align-middle">{{p.username}}</td>
                    <td class="text-center align-middle">{{p.topic}}</td>
                    <td *ngIf="p.topic != 'Rate My Build'" class="text-center align-middle">{{p.post}}</td>
                    <td *ngIf="p.topic == 'Rate My Build'" class="text-center align-middle">
                        <table>
                            <thead class="thead-dark">
                                <tr>
                                    <td colspan="2" class="text-center align-middle">{{p.pokeBuild.name | titlecase}}</td>
                                </tr>   
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="{{p.pokeBuild.imageurl}}" class="rounded mx-auto d-block">
                                    </td>
                                    <td class="align-middle">
                                        <label for="moves">
                                            Moves:
                                        </label>
                                        <div>
                                            <ul id="moves" class="list-group">
                                                <li class="list-group-item">{{p.pokeBuild.move1}}</li>
                                                <li class="list-group-item">{{p.pokeBuild.move2}}</li>
                                                <li class="list-group-item">{{p.pokeBuild.move3}}</li>
                                                <li class="list-group-item">{{p.pokeBuild.move4}}</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>    
                            </tbody>
                        </table>
                    </td>
                    <td *ngIf="p.imageUrl">
                        <img [src]="p.imageUrl" style="height: 50px" class="rounded mx-auto d-block">
                    </td>
                    <td *ngIf="!p.imageUrl">
                    </td>
                    <td><button type="button" class="btn btn-danger" (click)="deletePost(p.id)">Delete post</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container" *ngIf="noReplies">
    <div class="row">
       <h4>No Replies for this post. Be the first!</h4> 
    </div>
</div>
<div class="container" *ngIf="replies.length > 0">
    <div class="row">
        <h2>Replies</h2>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <th scope="col" class="text-center align-middle">Reply From:</th>
                <th scope="col" colspan="2" class="text-center align-middle">Topic</th>
            </thead>
            <tr *ngFor="let r of replies">
                <td class="text-center align-middle">{{r.username}}</td>
                <td class="text-center align-middle" colspan="2">{{r.post}}</td>
            </tr>
        </table>
    </div>
</div>
<button type="button" (click)="createForm()" *ngIf="posts.length == 1">Reply</button>  
<div class="container" *ngIf="wantToReply">
    <form [formGroup]="reply">
        <div class="form-control">
            <label for="post" class="post">Reply: </label>
            <textarea formControlName="post" class="form-control" rows="5px" cols="30px"></textarea>
        </div>
        <div>
            <button type="button" (click)="submitReply()">Submit reply</button>
        </div>
    </form>
</div>
