<div class="container">
    <div class="row">
        <h1>Location Area Details</h1>    
    </div>
    <div *ngIf="la" class="row">
        <h3>
           {{la.name | titlecase}} 
        </h3>
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="table-danger">
                <th scope="col"></th>
                <th scope="col">Pokemon Name</th>
                <th scope="col">Encounter Chance</th>
                <th scope="col" style="width: 16.66%">Level Range</th>
                <th scope="col">Encounter Methods</th>
                <th scope="col">Versions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ep of la.pokemonEncounters">
                <th scope="row">
                    <img src="assets/regular/{{ep.name | lowercase}}.png">
                </th>
                <td class="text-center align-middle">
                    <button class="btn btn-link" (click)="goToPokemon(ep.name)">
                    {{ep.name | titlecase}}
                    </button>
                </td>
                <td class="text-center align-middle">
                    {{ep.maxChance}}%
                </td>
                <td class="text-center align-middle">
                    <div *ngIf="ep.maxLevel !== ep.minLevel">
                       {{ep.minLevel}} - {{ep.maxLevel}}
                    </div>
                    <div *ngIf="ep.minLevel === ep.maxLevel">
                        {{ep.maxLevel}} 
                    </div>
                </td>
                <td style="padding: 20px; width: 500px" class="text-center align-middle">
                    <div *ngFor="let m of ep.encounterMethods">
                      {{m | titlecase}}  
                    </div>
                    <br>
                    <div *ngIf="ep.conditions.length">
                        <u>Conditions</u>
                        <div *ngFor="let c of ep.conditions" >
                        {{c}}
                        </div>
                    </div>
                </td>
                <td class="text-center align-middle">
                    <div *ngFor="let v of ep.versions">
                      {{v | titlecase}}  
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<app-location-area (laEmitter)="onNameReceived($event)" *ngIf="!la"></app-location-area>
<router-outlet></router-outlet>
<div class="container">
    <div class="row">
        <div class="col-auto">
            <button type="button" (click)="backToList()" class="btn btn-primary">Back to List</button>
        </div>
        <div class="col-auto">
            <button type="button" (click)="goToSimulator()" class="btn btn-info">Simulate Encounters</button>            
        </div>
    </div>
</div>


