<div class="container">
    <button type="button" *ngIf="!loginOrRegister" (click)="toggleLogin()">Register</button>
    <button type="button" *ngIf="loginOrRegister" (click)="toggleLogin()">Login</button>
</div>
<div class="container" *ngIf="loginOrRegister">
    <H1>Register here</H1>
    <span *ngIf="errorMessage" style="color: red">{{errorMessage}}</span>
    <form [formGroup]="register" >
        <table class="table-primary">
            <tr>
                <td>
                    <label for="username">Enter your username: </label>
                    <input name="username" formControlName="username" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Enter your Email: </label>
                    <input name="email" formControlName="email" type="text">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Enter your password: </label>
                    <input name="password" formControlName="password" type="text">
                </td>
            </tr>
        </table>
        <button type="button" (click)="submitRegister()">Submit</button>
    </form>
</div>
<div class="containter" *ngIf="!loginOrRegister">
    <h1>Login Here</h1>
        <form [formGroup]="login">
            <table class="table-primary">
                <tr>
                    <td>
                        <label for="username">Enter your username: </label>
                        <input name="username" formControlName="username" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Enter your password: </label>
                        <input name="password" formControlName="password" type="text">
                    </td>
                </tr>
            </table>
            <button type="button" [disabled]="loggedIn" (click)="submitLogin()">Go To Forums</button>
        </form>
</div>
