<div class="container" style="padding: 10px">
    <div *ngIf="transactionMsg" class="row">
        <h1>{{transactionMsg}}</h1>
    </div>
    <div class="row">
        <h1 class="text-center">Donation Amount : ${{amount}}</h1>
    </div>
    <div *ngIf="!transactionMsg" class="d-flex justify-content-center">
        <div *ngIf="customAmt" class="form-control">
            <select [(ngModel)]="amount" name="donationAmt" class="form-select">
                <option *ngFor="let d of donationAmounts" [value]="d">{{d}}</option>
            </select>
            <div style="padding: 10px">
                <button class="btn btn-outline-secondary" *ngIf="customAmt" (click)="togglePaymentAmount()">Custom
                    Donation</button>
            </div>
        </div>
        <div *ngIf="!customAmt" class="form-control">
            <input type="number" name="donationAmt" class="form-control" [(ngModel)]="amount">
            <div style="padding: 10px">
                <button class="btn btn-outline-secondary" *ngIf="!customAmt" (click)="togglePaymentAmount()">Fixed
                    Donation</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div #paymentRef style="padding: 10px"></div>
    </div>
</div>