
<div class="container">
    <div class="row"><h1>Search Move here</h1></div>
    <div class="row" *ngIf="errMsg">
        {{errMsg}}
    </div>
    <div class="row">
        <form [formGroup]="typeForm" class="form-control">
            <label for="name">Search move here: </label>
            <input type="text" name="name" class="form-control" formControlName="name">
            <button type="button" (click)="submit()" class="btn btn-primary" >Find Move</button>
        </form>    
    </div>
</div>
<br>
<div *ngIf="!m">
    <app-move-list (moveName)="searchMoveByName($event)"></app-move-list>
</div>
<div>
    <app-moves *ngIf="m" [m]="m"></app-moves>
</div>
<button type="button" (click)="backToList()" class="btn btn-primary">Back to List</button>
